 
body {
    margin: 0;
    font-family:sans-serif;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    
}

nav a:hover {
  
    color:rgb(116, 9, 215);
    
}

.git-button {
    background-color:black;
    color:white;
    border: 2px solid rgb(116, 9, 215);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.git-button:hover {
    background-color:rgb(116, 9, 215);
    color:aliceblue;
}
.about-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color:BLACK;
}

.profile-image {
    max-width: 30%;
    border-radius:400%;
    padding:5px;
    border: 5px solid #fff; /* Add border styling */

}
.profile-image:hover{
    border: 2PX solid rgb(116, 9, 215);
}
.about-section {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    background-color:black;
    color:#fff;
}

.intro-text {
    max-width: 70%;
}

.intro-text h1 {
    font-size: 2em;
    margin-bottom: 20px;
    padding:5px;
}

.intro-text p1 {
    font-size: 2em;
    color:rgb(116, 9, 215);
}
.intro-text p2 {
    font-size: 1.3em;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #bc13ab;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
   
}
.glow-on-hover a{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
 
}

.glow-on-hover:active {
    color: #d22ad5;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
   
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
 
.skills-section {
    padding: 50px;
    background-color:rgb(25, 23, 23); 
    text-align: center;
}

.skills-card {
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px  rgb(116, 9, 215);
    border-radius: 10px;
    background-color:black;
    color: #fff;
    text-align: left;
    
}

.skills-card h2 {
    font-size: 1.5em;
    padding: 10px;
    height: 40%;
    width:50%
}

.skill-box {
    background-color: violet;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;

}
.experience-section {
    padding: 50px;
    background-color: #000;
    text-align: center;
    border-color: rgb(116, 9, 215);
    
}

.experience-card {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background-color: #1c1c1c; /* Dark gray background */
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px  rgb(116, 9, 215) ;
    
}

.experience-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color:rgb(116, 9, 215);
}

.experience-card p {
    font-size: 1.2em;
    border-left: 2px solid violet; /* Violet border for paragraphs */
    padding-left: 15px;
    margin: 10px 0;
}

.projects-section {
    padding: 50px;
    background-color:#000;
    text-align: center;
}

.project-card {
        width:300px;
        padding: 20px;
        margin: 20px;
        border: 2px solid #ac2aae; /* Border color for project cards */
        border-radius: 10px;
        background-color:#000;
        color:#f0f0f0;
        text-align:center;
        box-shadow: 0 4px 8px  rgb(116, 9, 215) ;
        display:inline-block;
       
    }
.project-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-card img {
    max-width:100%;
    height:max-content;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-links a {
    display: block;
    margin-top: 10px;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.project-links a:hover {
     padding-right: 25px;
}  

button{
    background-color:rgb(116, 9, 215);
    color:white;
    padding: 10px;
}
footer {
    background-color: #131010;
    color: #fff;
 
    text-align: center;
}

footer div {
    margin-bottom: 0px;
}

footer h3 {
    color: #8730d8; /* Yellow color for heading */
}

/*footer p {
    margin: 5px 0;
}
*/
footer ul {
    list-style-type: none;
    padding: 0;
}



footer a {
    color: #ddd7e1; /* Yellow color for links */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}